/* Professional Experience Section Styling */
.experience-section {
    background-color: black;
    padding-bottom: 100px;
  }
  
  .experience-section h2 {
    text-align: center;
    font-size: 28px;
    color: #3399ff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Container Styling */
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Add space between experience items */
    align-items: center;
    border: 1px solid #333333 ; /* Gray boundary for the content */
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
  }
  
  /* Experience Item */
  .experience-item {
    background-color: black;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .experience-item h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
  }
  
  .experience-item p {
    font-size: 16px;
    color: white;
   margin-bottom: 2rem;
  }
  
  /* Project Grid Layout for 2 Cards per Row */
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 20px; /* Space between cards */
    margin-bottom: 20px;
  }
  
  /* Project Card Styling */
  .project-card {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #333333 ; /* Gray boundary for the content */
    border-radius: 10px;
  }
  
  .project-card h4 {
    font-size: 16px;
    color: #3399ff;
    transform: translate(0px, 15px) !important;
  }
  
  .project-card ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    color: lightgray;
    margin-top: 30px;
  }
  
  .project-card p {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    color: lightgray;
    margin-top: 30px;
  }

  .project-card ul li {
    margin-bottom: 8px;
  }
  
  /* Responsive Design for smaller screens */
  @media (max-width: 768px) {
    .project-grid {
      grid-template-columns: 1fr; /* Stack cards in a single column on small screens */
    }
  
    .experience-item {
      width: 95%; /* Full width for small screens */
      padding: 15px;
    }
  
    .experience-item h3 {
      font-size: 1.4rem;
    }
  
    .project-card h4 {
      font-size: 1.2rem;
    }
  
    .project-card ul li {
      font-size: 0.9rem;
    }
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .skill-tag {
    background-color: #1a1a1a;
    color: #3399ff;
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 200;
    display: inline-block;
  }