.skills-columns {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .skills-column {
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
  }
  
  .skills-column h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .skill-tag {
    background-color: black;
    color: #3399ff;
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 200;
    display: inline-block;
  }
  